{% block menu %}
    <div class="widget">
        <div class="col-md-2">

            <ul class="menu">
                {% for service in services %}
                    <li><a href="{{ path('service_show', {'id': service.id}) }}"> {{ service.name }} </a></li>
                {% endfor %}
            </ul><!-- /.menu -->
        </div>
    </div><!-- /.widget -->
{% endblock %}


